<!DOCTYPE html>

<head>

<!-- Basic Page Needs
================================================== -->
<title>Kaligana</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--CSS-->
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
<link rel="stylesheet" href="{{ asset('css/colors/navy.css') }}" id="colors">
{% block head %}
{% endblock %}


<style type="text/css">
    .slick-prev:before {
      color: green;
    }
    .slick-next:before {
      color: green;
    }
    img {
        max-width: 100%;
        height: auto;
    }

    .StripeElement {
      background-color: white;
      height: 40px;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }


</style>



</head>


<body>
   
    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% for label, messages in app.flashes(['warning', 'error']) %}
        {% for message in messages %}
            <div class="alert ">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

    <!-- Header -->
    <div id="header">
        <div class="container">
            
            <!-- Left Side Content -->
            <div class="left-side">
                
                <!-- Logo -->
                <div id="logo">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }} " alt=""></a>
                </div>

                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>


                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">

                        <li><a href="{{ path('homepage') }}">  {{ 'Accueil' | trans }} </a></li>
                        <li><a href="{{ path('about_us') }}">  {{ 'Qui sommes-nous?' | trans }} </a></li>
                        <li><a href="#"> Nos services </a>
                        <ul>
                            <li><a href="{{ path('products_by_type',{'code':'LOD','page':1}) }}"> {{ 'Logements' | trans }} </a></li>
                            <li><a href="{{ path('products_by_type',{'code':'CAR','page':1}) }}">  {{ 'Voitures' | trans }} </a></li>
                            
                        </ul>
                        </li>
                        <li><a href="#">  {{ 'Blog' | trans }} </a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="#">Administrateur Panel</a>
                    <ul>
                
                     <li><a href="{{ path('add_product',{'typeCode':'LOD'}) }}">ajouter logement</a> </li>
                     <li><a href="{{ path('add_product',{'typeCode':'CAR'}) }}">ajouter voiture</a> </li>
                    <li> <a href="{{ path('show_all_reservations') }}">liste des réservations</a> </li>
                     <li><a href="{{ path('show_all_products') }}">liste des produits</a></li>
                    
                    
                    
                {% endif %}
                    </ul>

                        
                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->
                
            </div>
            <!-- Left Side Content / End -->


            <!-- Right Side Content / End -->
            <div class="right-side">
                <div class="header-widget">
                    {% if is_granted('ROLE_ADMIN') %}
                    
                    <a href="{{ path('fos_user_security_logout') }}" class="sign-in"><i class="sl sl-icon-login"></i> se déconnecter</a>
                    
                    {% endif %}
                    
                     {% if app.session.get('reservations') is null %}
                     <a href="#" onclick="return false;" class="button border with-icon">Mes Réservations
                     <i class="sl sl-icon-plus"></i>
                     {% else %}
                       <a href="{{ path('validate_payment_reservation') }}" class="button border with-icon">Mes Réservations
                      ( {{ app.session.get('reservations') | length }} )
                     {% endif %}
                     </a>
                </div>
            </div>
            <!-- Right Side Content / End -->

            

        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

{% block body %} {% endblock %}


{% block footer %}
<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <img class="footer-logo" src="{{ asset('images/logo.png') }}" alt="">
                <br><br>
                <p>Retrouvez nos derniers articles sur <a href="#"> <u> Kaligana blog </u>  </a> .<br/>
                Reçevez régulièrement les news de Kaligana en vous inscrivant à notre newsletter.</p>
                {{ render(controller('AppBundle:Default:newsletter')) }} <br/>
            </div>

            <div class="col-md-4 col-sm-6 ">
                <h4>Liens utiles</h4>
                

                <ul class="footer-links">
                    <li><a href="#">Qui sommes-nous ?</a></li>
                    <li><a href="#">Nos conditions générales de vente</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">FAQ</a></li>

                </ul>
                <div class="clearfix"></div>
            </div>      

            <div class="col-md-3  col-sm-12">
                <h4>Contactez Nous</h4>
                <div class="text-widget">
                    <span>4 rue du port , 33000 BORDEAUX</span> <br>
                    Phone: <span>(+33)6 45 35 89 </span><br>
                    E-Mail:<span> <a href="#" onclick="return false;">kaligana@example.com</a> </span><br>
                </div>

                <ul class="social-icons margin-top-20">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                    <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                </ul>

            </div>

        </div>
        
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">© 2018 All Rights Reserved.</div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->

{% block javascripts %}
<script type="text/javascript" src="{{ asset('scripts/jquery-2.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/mmenu.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/chosen.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/rangeslider.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/magnific-popup.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/waypoints.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/counterup.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/tooltips.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/custom.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript">
   
    $('body').on('submit', '#form_newsletter', function (e) {
 
        e.preventDefault();
 
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize()
        })
        .done(function (data) {
            swal("Félicitations!", "Vous êtes maintenant enregistré à la newsletter!", "success");
            $( "#news" ).hide();
            
        })
        .fail(function (data) {
            swal("Ouch!", "Une erreur est survenu, vous êtes peut-être déjà enregistré", "error");
 
        });
    });
</script>


{% endblock %}




</body>
</html>
