<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <style type="text/css">
            .slick-prev:before {
              color: green;
            }
            .slick-next:before {
              color: green;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        </style>
    </head>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        {% for label, messages in app.flashes(['warning', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block menu %} 
            <ul>
                <li> <a href="{{ path('add_product') }}">ajouter produit</a> </li>
                <li> <a href="{{ path('show_all_products') }}">liste des produits</a></li>
                <li><a href="{{ path('products_by_type',{'code':'CAR'}) }}">voitures</a></li>
                <li><a href="{{ path('products_by_type',{'code':'LOD'}) }}">logements</a></li>
                <li><a href="{{ path('products_by_type',{'code':'ACT'}) }}">activités</a></li>
                <li> <a href="{{ path('show_all_reservations') }}">liste des réservations</a></li>
            </ul>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">

        {% endblock %}
    </body>
</html>
