<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} {{ 'Bienvenue' | trans }} ! {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <style type="text/css">
            .slick-prev:before {
              color: green;
            }
            .slick-next:before {
              color: green;
            }
            img {
                max-width: 100%;
                height: auto;
            }

            .StripeElement {
              background-color: white;
              height: 40px;
              padding: 10px 12px;
              border-radius: 4px;
              border: 1px solid transparent;
              box-shadow: 0 1px 3px 0 #e6ebf1;
              -webkit-transition: box-shadow 150ms ease;
              transition: box-shadow 150ms ease;
            }

            .StripeElement--focus {
              box-shadow: 0 1px 3px 0 #cfd7df;
            }

            .StripeElement--invalid {
              border-color: #fa755a;
            }

            .StripeElement--webkit-autofill {
              background-color: #fefde5 !important;
            }
        </style>
    </head>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        {% for label, messages in app.flashes(['warning', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block menu %} 
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                <li> <a href="{{ path('add_product') }}">ajouter produit</a> </li>
                <li> <a href="{{ path('show_all_reservations') }}">liste des réservations</a></li>
                <li> <a href="{{ path('show_all_products') }}">liste des produits</a></li>
                {% endif %}
                <li><a href="{{ path('products_by_type',{'code':'CAR'}) }}">  {{ 'Voitures' | trans }} </a></li>
                <li><a href="{{ path('products_by_type',{'code':'LOD'}) }}"> {{ 'Logements' | trans }} </a></li>
                <li><a href="{{ path('products_by_type',{'code':'ACT'}) }}"> {{ 'Activités' | trans }} </a></li>
                
            </ul>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
        <script src="https://js.stripe.com/v3/"></script>

        {% endblock %}
    </body>
</html>
