{% extends 'base.html.twig' %}

{% block body %}

<h3> {{ title | trans }} </h3>
<div class="items">
	
{% for product in type.products %}
	<div>
		{% if product.isHidden == false %}
		{% if product.imgStarName != null %}
		<img src="{{ asset('images_products/'~product.imgStarName) | imagine_filter('my_thumb') }}" alt="" />
		{% endif %}

		{{ 'Nom' | trans }} : {{ product.name }}
		{{ 'Description' | trans }} : {{ product.description }}
		{{ 'Prix' | trans }} : {{ product.priceUnit }}
		<a href="{{ path('get_product',{'id':product.id }) }}">   {{ 'Détails' | trans }} </a>
		{% endif %}
	</div>


{% endfor %}
</div>


{% endblock %}


