{% extends 'base.html.twig' %}

{% block body %}


<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{{ title|trans }}</h2><span>Liste des nos {{ title|trans }}</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{{ path('homepage') }}">Accueil</a></li>
						<li>{{ title | trans }}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Search -->
		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-10">

				
				<div class="main-search-input-item">
					<select data-placeholder="All Categories" class="chosen-select" >
						<option>Toutes catégories</option>	
						<option>Caractéristique 1</option>
						<option>Caractéristique 2</option>
						<option>Caractéristique 3</option>
						<option>Caractéristique 4</option>
					</select>
				</div>

				<button class="button">Search</button>
			</div>
		</div>
		<!-- Search Section / End -->


		<div class="col-md-12">

			<!-- Sorting - Filtering Section -->
			<div class="row margin-bottom-25 margin-top-30"></div>
			<!-- Sorting - Filtering Section / End -->


			<div class="row">
				

				{% for product in products %}
	
					{% if product.isHidden == false %}
						<!-- Listing Item -->
						<div class="col-lg-4 col-md-6">
							<a href="{{ path('get_product',{'id':product.id}) }}" class="listing-item-container compact">
								<div class="listing-item">
									{% if product.imgStarName != null %}
										<img src="{{ asset('images_products/'~product.imgStarName) }}" alt=""/> 
									{% else %}
									<img src="#" alt="">
									{% endif %}


									<div class="listing-item-content">
										
										<h3>{{ product.name }} </h3>
										<span class="tag">{{ product.priceUnit }} &euro;</span><br/>
										<span>{{ product.description | slice(0,50) }}...</span>
									</div>
									<span class="like-icon"></span>
									
								</div>
							</a>
						</div>
						<!-- Listing Item / End -->
				    {% endif %}

				{% endfor %}


			</div>

			
			{% include 'product/pagination.html.twig' %}

		</div>

	</div>
</div>

{% endblock %}









