{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
{% if product.images is not empty %}
<div class="item-imgs" style="width: 50%;margin-left:10%">
	{% for img in product.images %}
		<div align="center" > <img src="{{ asset('images_products/'~img.name) }}"> </div>
		
	{% endfor %}
</div>
{% endif %}
 
<div class="item">
	{{ product.name }}
	{{ product.description }}
	{{ product.priceUnit }} euro(s)

	<h4>Réservation</h4>
	{{ render(controller('AppBundle:Reservation:create',{ 'productId': product.id } )) }}

	{{'Montant Total'| trans }}:<span id="amount"> 1 x {{ product.priceUnit }} : {{ product.priceUnit }} </span> euro(s)

</div>
</div>


{% endblock %}

{% block javascripts %}

{{ parent() }}
<script type="text/javascript">

	$(document).ready(function() {
	$("#form_dateUnique").flatpickr({
		locale: '{{ app.request.locale }}',
		minDate: "today",
		disable: [ {% for resa in product.reservations %} { from: "{{resa.dateBegin |date('Y-m-d')}}" , to: "{{resa.dateEnd|date('Y-m-d')}}"  }, {% endfor %}],
		onChange: function(selectedDates, dateStr, instance) {
	        $("#form_quantity").val(1);
	        $("#form_dateBegin").val(dateStr);
	        $("#form_dateEnd").val(dateStr);
	        $("#amount").text(1+'x'+ parseFloat({{ product.priceUnit }}).toFixed(2) + ':'+ {{ product.priceUnit }});
	        $("#form_save").prop('disabled', false);
		}
	});

	$("#form_dateRange").flatpickr({

		locale: '{{ app.request.locale }}',
		minDate: "today",
		disable: [ {% for resa in product.reservations %} { from: "{{resa.dateBegin |date('Y-m-d')}}" , to: "{{resa.dateEnd|date('Y-m-d')}}"  }, {% endfor %}],
		mode: "range",
		onChange: function(selectedDates, dateStr, instance) {
			if(Object.keys(selectedDates).length==2){

		        var dates = dateStr.split(/(au|to)/g); // return dateB, au/to , dateE
		        var timeDiff = Math.abs(new Date(dates[2]).getTime() - new Date(dates[0]).getTime());
		        
		        var diffDays = Math.round(timeDiff / (1000 * 3600 * 24))+1; 
		        var price = {{ product.priceUnit }};
		        var total = parseFloat(diffDays * price).toFixed(2); 
		        $("#amount").text(diffDays+'x'+ parseFloat(price).toFixed(2) + ':'+ total);
		        $("#form_quantity").val(diffDays);
		        $("#form_dateBegin").val(dates[0]);
		        $("#form_dateEnd").val(dates[2]);
		        $("#form_save").prop('disabled', false);
				
		}
         
    },
	});

	$('#form_manyDays').click(function(){
		if($(this).is(':checked')){
			$("#form_dateUnique").hide();
			$("#form_dateUnique").val('');
			$("#form_dateRange").show();
		}
		else{
			$("#form_dateUnique").show();
			$("#form_dateRange").hide();
			$("#form_dateRange").val('');
		}
			$("#form_quantity").val(1);
	        $("#form_dateBegin").val('');
	        $("#form_dateEnd").val('');
	        $("#amount").text(1+'x'+ parseFloat({{ product.priceUnit }}).toFixed(2) + ':'+ {{ product.priceUnit }});
	        $("#form_save").prop('disabled', true);
		
	});

	$('.item-imgs').slick({
	  	  dots: true,
		  infinite: true,
		  speed: 500,
		  fade: true,
		  cssEase: 'linear'
	    
	  });
	});		
</script>


{% endblock %}




