{% extends 'base.html.twig' %}

{% block body %}

<!-- Gradient-->
<div class="single-listing-page-titlebar"></div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-lg-8 col-md-8 padding-right-30">

			<!-- Titlebar -->
			<div id="titlebar" class="listing-titlebar">
				<div class="listing-titlebar-title">
					<img src="#">
					<h2>{{ product.name }} <span class="listing-tag">{{ product.productType.name }}</span></h2>
					
				</div>
			</div>

			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav">
					<li><a href="#listing-overview" class="active">Description</a></li>
					<li><a href="#listing-gallery">Gallerie</a></li>
					
				</ul>
			</div>
			
			<!-- Overview -->
			<div id="listing-overview" class="listing-section">

				<!-- Description -->

				<p>
					{{ product.description }}
				</p>

				<!-- Amenities -->
				<h3 class="listing-desc-headline">Caractéristiques</h3>
				<ul class="listing-features checkboxes">
					<li>Elevator in building</li>
					<li>Friendly workspace</li>
					<li>Instant Book</li>
					<li>Wireless Internet</li>
					<li>Free parking on premises</li>
					<li>Free parking on street</li>
				</ul>
			</div>


			<!-- Slider -->

			{% if product.images is not empty %}
				<div id="listing-gallery" class="listing-section">
				<h3 class="listing-desc-headline margin-top-70">Gallerie</h3>
				<div class="listing-slider-small mfp-gallery-container margin-bottom-0">
					{% for img in product.images %}
						<a href="{{ asset('images_products/'~img.name) }}" data-background-image="{{ asset('images_products/'~img.name) }}" class="item mfp-gallery" ></a>
						
					{% endfor %}
				</div>
			</div>
			{% endif %}



			

				
				<div class="clearfix"></div>
				
			</div>


			

		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-75 sticky">

			<div class="verified-badge with-tip" data-tip-content="Montant total pour le nombre de jours">
				{{'Montant'| trans }}: &nbsp <span id="amount">{{ product.priceUnit }} </span> euro(s)
			</div>

			
			<!-- Book Now -->
			<div class="boxed-widget booking-widget margin-top-35">
				<h3><i class="fa fa-calendar-check-o "></i> Réservation</h3>
				{{ render(controller('AppBundle:Reservation:create',{ 'productId': product.id } )) }}

			</div>
			<!-- Book Now / End -->

			<!-- Opening Hours -->
			<div class="boxed-widget opening-hours margin-top-35">
				
				<h3><i class="sl sl-icon-clock"></i> Obligatoire</h3>
				<ul>
					<li>Permis<span> A</span></li>
					<li>Age <span> +18 ans</span></li>
					
				</ul>
			</div>
			<!-- Opening Hours / End -->

		

		</div>
		<!-- Sidebar / End -->

	</div>
</div>

<br/><br/><br/>

{% endblock %}

{% block javascripts %}

{{ parent() }}
<script type="text/javascript">

	$(document).ready(function() {

		checkDateResa();
		
		$("#form_dateUnique").flatpickr({
			locale: '{{ app.request.locale }}',
			minDate: "today",
			disable: [ {% for resa in product.reservations %} { from: "{{resa.dateBegin |date('Y-m-d')}}" , to: "{{resa.dateEnd|date('Y-m-d')}}"  }, {% endfor %}],
			onChange: function(selectedDates, dateStr, instance) {
		        $("#form_quantity").val(1);
		        $("#form_dateBegin").val(dateStr);
		        $("#form_dateEnd").val(dateStr);
		        $("#amount").text({{ product.priceUnit }});
		        $("#form_save").prop('disabled', false);
			}
		});

		$("#form_dateRange").flatpickr({

			locale: '{{ app.request.locale }}',
			minDate: "today",
			disable: [ {% for resa in product.reservations %} { from: "{{resa.dateBegin |date('Y-m-d')}}" , to: "{{resa.dateEnd|date('Y-m-d')}}"  }, {% endfor %}],
			mode: "range",
			onChange: function(selectedDates, dateStr, instance) {
				if(Object.keys(selectedDates).length==2){

			        var dates = dateStr.split(/(au|to)/g); // return dateB, au/to , dateE
			        var timeDiff = Math.abs(new Date(dates[2]).getTime() - new Date(dates[0]).getTime());
			        
			        var diffDays = Math.round(timeDiff / (1000 * 3600 * 24))+1; 
			        var price = {{ product.priceUnit }};
			        var total = parseFloat(diffDays * price).toFixed(2); 
			        $("#amount").text(total);
			        $("#form_quantity").val(diffDays);
			        $("#form_dateBegin").val(dates[0]);
			        $("#form_dateEnd").val(dates[2]);
			        $("#form_save").prop('disabled', false);
					
			}
	         
	    },
		});

		$('#form_manyDays').click(function(){
			checkDateResa();
			
		});

		function checkDateResa(){
			if($('#form_manyDays').is(':checked')){
				$("#form_dateUnique").hide();
				$("#form_dateUnique").val('');
				$("#form_dateRange").show();
			}
			else{
				$("#form_dateUnique").show();
				$("#form_dateRange").hide();
				$("#form_dateRange").val('');
			}
				$("#form_quantity").val(1);
		        $("#form_dateBegin").val('');
		        $("#form_dateEnd").val('');
		        $("#amount").text({{ product.priceUnit }});
		        $("#form_save").prop('disabled', true);
		}
});

	
</script>


{% endblock %}













