{% extends 'base.html.twig' %}

{% block body %}


<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{{ title|trans }}</h2><span>{{'Liste de nos'|trans }} {{ title|trans }}</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{{ path('homepage') }}">{{ 'Accueil'|trans }}</a></li>
						<li>{{ title | trans }}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Search -->
		{{ render(controller('AppBundle:Product:categoriesByType',{ 'typeCode': code } )) }}
		<!-- Search Section / End -->


		<div class="col-md-12">

			<!-- Sorting - Filtering Section -->
			<div class="row margin-bottom-25 margin-top-30"></div>
			<!-- Sorting - Filtering Section / End -->


			<div class="row">
				

				{% for product in products %}
	
					{% if product.isHidden == false %}
						<!-- Listing Item -->
						<div class="col-lg-4 col-md-6">
							<a href="{{ path('get_product',{'id':product.id}) }}" class="listing-item-container compact">
								<div class="listing-item">
									{% if product.imgStarName != null %}
										<img src="{{ asset('images_products/'~product.imgStarName) }}" alt=""/> 
									{% else %}
									<img src="#" alt="">
									{% endif %}


									<div class="listing-item-content">
										
										<h3>{{ product.name }} </h3>
										<span class="tag" style="font-size: 93%;">{{ product.priceUnit }} &euro;</span><br/>
										<span>
										{% if product.category != null %}
											{{ product.category.name | trans }}
										{% endif %}
										</span>
									</div>
									<span class="like-icon"></span>
									
								</div>
							</a>
						</div>
						<!-- Listing Item / End -->
				    {% endif %}

				{% endfor %}


			</div>

			
			{% include 'product/pagination.html.twig' %}

		</div>

	</div>
</div>

{% endblock %}









