
{% if error is not defined  %}
{% if not form.vars.valid %}
<ul>
    
    {% for child in form.children %}
        
        {%for error in child.vars.errors%}
            <li>{{error.message}}</li>
        {%endfor%}
    {%endfor%}
</ul>
{%endif%}

{{ form_start(form, {'attr': {'id': 'form_resa'},'method': 'post', 'action': path('create_reservation',{productId: id }) }) }}

    <div id="resa">
     {% if form.dateRange is defined %}
    <div class="checkboxes in-row margin-bottom-20">
    	
    	{{ form_widget(form.manyDays) }}
    	{{ form_label(form.manyDays) }}
    </div>
	{{ form_label(form.dateUnique) }}
	{{ form_widget(form.dateUnique) }}

	
	{{ form_label(form.dateRange) }}
	{{ form_widget(form.dateRange) }}

    {% else %}
        {{ form_label(form.quantity) }}
        {{ form_widget(form.quantity) }}
    {% endif %}

	{{ form_widget(form.save,{'attr':{'class': 'button book-now fullwidth margin-top-5' }}) }}
    	
             
    {{ form_rest(form) }}
	</div>
    
{{ form_end(form) }}


{% else %}
	<h1>{{ error }}</h1>
{% endif %}



