{% extends 'base.html.twig' %}

{% block body %}

	{% if reservation != null %}

		<h3> Félicitation votre paiement a été réalisé avec succès, un mail contenant les informations de réservation a été envoyé à votre adresse!</h3>

		<h2>Réservation:</h2>
		Code: {{ reservation.code }}
		Type: {{ reservation.product.productType.name }} <br/>
		Nom:  {{ reservation.product.name }} <br/>
		Client nom: {{ reservation.customerLastName }} <br/>
		Client prénom : {{ reservation.customerFirstName }} <br/>
		Date de début: {{ reservation.dateBegin | date('Y-m-d') }} <br/>
		Date de fin: {{ reservation.dateEnd | date('Y-m-d') }} <br/>
		Montant total: {{ amount }} euro(s) <br/>

	{% endif %}

{% endblock %}